@import './themes';
html{
  font-family: $fontFamilyStack;
  font-size: $fontSizeStack;
  margin: 0;
  padding: 0
}
body{
  margin: 0;
  padding: 0;
  color: $fontcolorStack;
  height: 100%;
  background-color: $backgroundThemes;
  font-size: 16px
}

article, aside, details, figcaption, figure, section, header, footer, nav, summary{
  display: block
}

ul, ol{
  margin: 0;
  padding: 0
}

ul, li, ol, dl, dd{
  list-style: none outside none
}

a{
  text-decoration: none;
  color: $fontcolorStack
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal
}